body.theme-dark {
	background-color: black;
	color: white;
}

.theme-dark #searchInputTxt::placeholder {
	color: silver;
}

.theme-dark #searchInputTxt {
	background-color: gray;
	color: white;
}

.theme-dark .font-select {
	background-color: black;
	color: white;
}
