body.theme-light {
	background-color: white;
	color: black;
}

.theme-light #searchInputTxt {
	background-color: #f0eded;
}

.theme-light .searchBtn {
	background-color: #f0eded;
}

.theme-light .font-select {
	background-color: white;
	color: inherit;
}

.theme-light .source-urls a {
	background-image: url('../images/url-black.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1em;
}

.theme-light .spell-audio {
	background-color: pink;
}

.theme-light .spell-audio:hover {
	background-color: orange;
}

