body.theme-dark {
	background-color: black;
	color: white;
}

.theme-dark #searchInputTxt::placeholder {
	color: silver;
}

.theme-dark #searchInputTxt {
	background-color: gray;
	color: white;
}

.theme-dark .searchBtn {
	background-color: gray;
}

.theme-dark .font-select {
	background-color: black;
	color: white;
}

.theme-dark .source-urls a {
	background-image: url('../images/url-white.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1em;
}

.theme-dark .spell-audio {
	background-color: purple;
}

.theme-dark .spell-audio:hover {
	background-color: orange;
}

